opencv-python==4.10.0.84
numpy
requests
onnxruntime-gpu==1.19.0
python-dotenv
nvidia-cublas-cu12
nvidia-cudnn-cu12
nvidia-cuda-runtime-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12