opencv-python==4.10.0.84
numpy
requests
onnxruntime-gpu==1.16.3
python-dotenv
nvidia-cublas-cu11
nvidia-cudnn-cu11
nvidia-cuda-runtime-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11